@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Righteous&family=Yellowtail&display=swap');
/*
font-family: 'Courgette', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Righteous', cursive;
font-family: 'Yellowtail', cursive;
*/
.gt1{
    background: -webkit-linear-gradient(45deg, #0d6efd, #4f91f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gt2{
    background: linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rounded-card{
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    transition-duration: 0.3s;
    color-scheme: dark;
}
.h1{
    font-weight: 900;
}
h1{
    font-weight: 900;
}
.playfull{
    font-family: 'Courgette', cursive;
    padding: 4px;
}
h3, h4, h5{
    font-weight: bolder;
    font-size: 150%;
    padding: 4px;
}
.elegant{
    font-family: 'Great Vibes', cursive;
    padding: 4px;
}
.rightf{
    font-family: 'Righteous', cursive;
}

div{
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
h5{
    font-weight: 800;
    background-image: linear-gradient(to left top, #161616, #222224, #2e2f33, #3a3c43, #464a54, #4b515b, #4f5863, #545f6a, #535f69, #536068, #536066, #536065);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gb-grad{
    background-image: linear-gradient(to top, #bdd7ff, #b8d9ff, #b3dcff, #afdeff, #abe0ff);
}
.rounde{
    border-radius: 15px;
}
.outline{
    border: 1px rgb(191, 191, 191) solid;
}
.purple-grad{
    background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
}
.spacer{
    height: 2vh;
}
.zoom-on-hover{
    scale: 96%;
    transition-duration: 0.4s;    
}
.zoom-on-hover:hover{
    scale: 102%;
    z-index: 100;
}
.sidebar-buttons{
    color: #040f1c;
    text-decoration: none;
    transition-duration: 0.3;
}
.pad1{
    background-image: url(Img/store.jpg);
    background-size: contain;
    color: white;
}
.pad2{
    background-image: url(Img/appl.jpg);
    background-size: contain;
    color: white;
}
.pad3{
    background-image: url(Img/Desert-by-Mark-Eder.jpg);
    background-size: contain;
}
.pad4{
    background-image: url(Img/square.jpg);
    background-size: contain;
}
.pad5{
    background-image: url(Img/Palm-by-Jessica-F.jpg);
        background-size: contain;
        color: white;
}
.blured{
    backdrop-filter: blur(8px);
}
.offcanvas-body-1 {
    flex-grow: 1;
    margin-left: 8%;
}
.card{
    border: none !important;
    min-height: 489px !important;
}
@media screen and (max-width: 806px) {
    .card {
        min-height: 200px !important;
    }
    .img-h{
        height: 100.1%;
    }
  }

  @media screen and (max-width: 1406px) {
    .card {
        min-height: 160px !important;
    }
    .img-h{
        height: 100.1%;
    }
  }

  @media screen and (max-width: 600px) {
    .card {
        min-height: 160px !important;
    }
    .img-h{
        height: 100.1%;
    }
  }
  .para-gradient{
    background-image: linear-gradient(to left top, #ffffff, #f7f7ff, #edefff, #e2e8ff, #d4e1ff, #cde0ff, #c5e0ff, #bddfff, #bee4ff, #bfe8ff, #c2ecff, #c6f0ff);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (max-height: 800px) {
    .hx {
        height: 160px !important;
    }
  }
  .round-white{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 40px;
    border-radius: 30px;
  }
  .hpx{
    max-height: 720px;
  }