@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Righteous&family=Yellowtail&display=swap');
/*
font-family: 'Courgette', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Righteous', cursive;
font-family: 'Yellowtail', cursive;
*/
.gt1{
    background: -webkit-linear-gradient(45deg, #0d6efd, #4f91f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gt2{
    background: linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rounded-card{
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    transition-duration: 0.3s;
}
.h1{
    font-weight: 900;
}
h1{
    font-weight: 900;
}
.playfull{
    font-family: 'Courgette', cursive;
    padding: 4px;
}
h3, h4, h5{
    font-weight: bolder;
    font-size: 150%;
    padding: 4px;
}
.elegant{
    font-family: 'Great Vibes', cursive;
    padding: 4px;
}
.rightf{
    font-family: 'Righteous', cursive;
}

div{
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
h5{
    font-weight: 800;
}
.gb-grad{
    background-image: linear-gradient(to top, #bdd7ff, #b8d9ff, #b3dcff, #afdeff, #abe0ff);
}
.rounde{
    border-radius: 15px;
}
.outline{
    border: 1px rgb(191, 191, 191) solid;
}
.purple-grad{
    background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
}
.spacer{
    height: 2vh;
}
.zoom-on-hover{
    scale: 96%;
    transition-duration: 0.4s;    
}
.zoom-on-hover:hover{
    scale: 102%;
    z-index: 100;
}